<%- include('layout', { user: user }) %>
<h1>Welcome to ReadyGolf1</h1>
<p>ReadyGolf1 is your preferred tee time booking site. Log in or register to get started booking your next round!</p>
<% if (!user) { %>
    <a href="/login" class="btn btn-primary">Log In</a>
    <a href="/register" class="btn btn-secondary">Register</a>
<% } %>
